# Node
node_modules
.next

# Environment Variables
.env
.env.local

# Python
__pycache__
*.pyc
.venv

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Vercel
.vercel

# Python virtual environments
venv/
env/